body {
    height: auto;
    border: medium;
    background-color: darkslategrey;
}
button{
    border-color: darkslategray;
    background-color: darkslategray;
    color:#ffffff;
    font-family: monospace;
    border-radius:2px;
}
.panel{
    background-color: black;
    color: #ffffff;
    font-size: 18px;
    font-family: Garamond, serif;
    height:25px;
    margin:auto;
    text-align: center;
}
#bodyMain{
    background: whitesmoke;
    height: 100%;
    width:90%;
}
#top{
  background: white;
}
#top_search{
    height: 30%;
    width: 100%;
}
#bodyLeft{
    float: left;
    height: 160px;
    width: 50%;
    background: black;
    color:#ffffff;
}
#bodyLeftTable{
    height:100%;
    width: 100%;
    overflow-y:auto;
    border: solid;
}
.newsItemsDescription {
    height:33%;
    font-size: 7px;
    line-height: 1.2em;
    height: 2.0em;
    overflow: hidden;
    padding: 2px;
}
a:link{
    color:#ffffff;
}
.footer{
    color: gray;
    font-size: 10px;
    font-family: monospace;
    height:25px;
    margin:auto;
    text-align: center;
}
.tableRow{
    height: 50px;
    width: 100%;
    border-bottom: solid thin darkslategray;
}
.tableRowChild1{
    width:30%;
    height: 100% ;
    float: left;
}
.tableRowChild2{
    width:70%;
    height: 100%;
    float: right;
}
.tableRowsubChild{
    height:20%;
    font-size: 7px;
    padding: 2px;

}
#bodyRight{
    float: right;
    width: 50%;
    background: black;
    height: 100%;
}
